.all-caps
  letter-spacing: 2px
  text-transform: uppercase
  font-size: emCalc(14)

.text-content li
  margin-bottom: 1em

.text-content article
  padding-bottom: 2em

.visual-content li
  // same as foundation's type.css reset
  margin-bottom: 0

.content-section
  padding-top: 2em
  padding-bottom: 2em
