*.gem
*.rbc
.bundle
.config
.yardoc
.rbenv-gemsets
.ruby-version
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
_deploy
spec/dummy/public/*.html
spec/dummy/public/*.gz
