@import "reimagine/globals/mixins";
@import "reimagine/globals/variables";

a {
  @include fade;
  color: lighten($primary-color, 3%);
  text-decoration: none;

  &:hover, &:focus {
    @include fade;
    color: lighten($primary-color, 20%);
  }

  &:active, &.active {
    color: shade($primary-color, 50%);
  }
}

input[type="button"],
input[type="submit"],
.button,
button {
  @include btn;
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &.secondary { @include btn($secondary-color, $dark-text-color); }

  &.tertiary { @include btn($tertiary-color, white);}

  &.disabled,
  &[disabled=disabled],
  &:disabled {
   @include btn(#bfbfbf, lighten($text-color, 5%));
   background-image: none;
    &:hover, &:focus, &:active {
      background: #bfbfbf;
      color: lighten($text-color, 5%);
      cursor: default;
    }
  }

  &.link {
    @include btn($tertiary-color, lighten($primary-color, 3%));
    background: none;
    &:hover, &:focus, &:active {
      background: none;
    }
  }

  &.facebook-login { @include btn(#34569E, white); }

  &.github-login { @include btn(#348EB1, white); }

  &.facebook-login,
  &.github-login {
    text-align: left;
    width: 100%;
    padding: 0.5em 1em 0.5em 0.8em;

    .ss-icon {
      display: inline-block;
      font-size: 22px;
      margin: 0 0.5em 0 0;
      opacity: 0.5;
      vertical-align: middle;
    }
  }

  &.large {
    font-size: $base-font-size * 1.375; //h2
    line-height: $base-line-height*1.2;
    padding: $base-font-size/3.2 $base-font-size;

    @include media($mobile) {
      font-size: $base-font-size;
      line-height: $base-line-height;
      padding: $base-font-size/2 $base-font-size;
    }
  }

  &.small {
    font-size: $base-font-size/1.2;
    line-height: $base-line-height/1.2;
    padding: $base-font-size/1.2 $base-font-size;
  }

}
