@import "bourbon";
@import "neat";
@import "reimagine/globals";

.button {
  @include btn;
  @include transition(all 0.1s ease-out);
  @include typekit-helper("proxima-nova-n6", normal, 600);
  border: 0;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  margin-bottom: 0;

  &.secondary { @include btn($secondary-color, $dark-text-color); }

  &.tertiary { @include btn($tertiary-color, white);}

  &.disabled {
   @include btn(#ccc, #999);
   background-image: none;
    &:hover, &:focus, &:active {
      background: #ccc;
      color: #999;
      cursor: default;
    }
  }

  &.link {
    @include btn($tertiary-color, $primary-color);
    background: none;
    &:hover, &:focus, &:active {
      background: none;
    }
  }

  &.large {
    font-size: $base-font-size*1.4;
    line-height: $base-line-height*1.2;
    padding: $base-font-size/2 $base-font-size*1.4;
  }

  &.small {
    font-size: $base-font-size/1.2;
    line-height: $base-line-height/1.2;
    padding: $base-font-size/1.4 $base-font-size*1.2;
  }

}


a {
  @include transition(color 0.1s ease-out);

  color: lighten($primary-color, 5%);
  text-decoration: none;

  &:hover, &:focus {
    @include transition(color 0.2s ease-in);

    color: lighten($primary-color, 20%);
  }

  &:active, &.active {
    color: shade($primary-color, 50%);
  }

}
