@import "bourbon";
@import "neat";
@import "reimagine/globals";


$base-button-color: navy;
$base-button-text: #eee;

.button-primary { @include button($primary-color,$base-button-text);}
.button-secondary { @include button($secondary-color,$text-color);}
.button-tertiary { @include button($tertiary-color,$base-button-text);}

.button-link {
  @include button($tertiary-color,$primary-color);
  background: none;
  text-decoration: underline;
  &:hover, &:focus, &:active {
    background: none;
  }
}

.button-success { @include button($success, $base-button-text); }
.button-warning { @include button($warning, $text-color); }
.button-error { @include button($error, $base-button-text); }


// .button {
//   // em border radius and padding so the
//   // button looks nice with any font size
//   border-radius: .4em;
//   padding: .6em 1em;
//   display: inline-block;
//   background-color: $primary-button-color;
//   color: $primary-button-font-color;
//   font-size: 17px;
//   font-weight: 600;
//   text-align: center;
//   border: none;
//   @include fade;

//   &:hover,
//   &:focus,
//   &:active {
//     background-color: $primary-button-hover-color;
//     color: $primary-button-hover-font-color;
//     @include fade;
//   }

//   @include media($mobile) {
//     font-size: 14px;
//   }

//   &.secondary {
//     background-color: $secondary-button-color;
//     color: $secondary-button-font-color;

//     &:hover,
//     &:focus,
//     &:active {
//       background-color: $secondary-button-hover-color;
//       color: $secondary-button-hover-font-color;
//     }
//   }

//   &.tertiary {
//     background-color: $tertiary-button-color;
//     color: $tertiary-button-font-color;

//     &:hover,
//     &:focus,
//     &:active {
//       background-color: $tertiary-button-hover-color;
//       color: $tertiary-button-hover-font-color;
//     }
//   }

//   &.big {
//     font-size: 24px;

//     @include media($mobile) {
//       font-size: 17px;
//     }
//   }

//   &.small {
//     font-size: 15px;
//     padding: .4em 0.9em;

//     @include media($mobile) {
//       font-size: 13px;
//     }
//   }

//   &.faded {
//     background-color: $faded-button-color;

//     &:hover {
//       background-color: $faded-button-hover-color;
//     }
//   }
// }
