@import "bourbon";
@import "neat";
@import "reimagine/globals";

.field { 
  margin: 0 0 24px 0;
  @include clearfix;
}

label {
  @include typekit-helper("proxima-nova-n6", normal, 600);
  color: $dark-text-color;
  font-size: $base-font-size * 1.125; // same as H3
  display: block;
  padding-bottom: 4px;

  &.required:after {
    content: " *";
    color: $error;
  }

  // for checkboxes:
  &.inline {
    @include typekit-helper("proxima-nova-n4", normal, 400);
    font-size: $base-font-size;
    color: $text-color;
    display: inline-block;
  }
} // END label

p.sublabel {
  @include typekit-helper("proxima-nova-n4", normal, 400);
  color: $text-color;
  font-size: $base-font-size * 0.8125;
  line-height: $base-line-height * 0.875;
  margin-bottom: 7px;
}

input,
select,
textarea {
  background: white;
  border: 2px solid #DADADA;
  color: $dark-text-color;
  outline: none;
  padding: $base-font-size/1.4;
  @include transition(all 0.2s ease);

  /* styles for placeholder text, not sure how to do this:

  color: $light-text-color;
  @include typekit-helper("proxima-nova-i4", italic, 400); //italicize

  */

  &:hover {
    border: 2px solid lighten($primary-color, 50%);
    background: lighten($primary-color, 50%);
    @include transition(all 0.2s ease);
  }

  &:active,
  &:focus {
    border: 2px solid lighten($primary-color, 3%);
    background: white;
    color: $dark-text-color;
    @include transition(all 0.2s ease);
  }
}

input,
textarea {
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.4em;
  width: auto;
}


// Switch style checkbox

// <div class="switch">
//   <input type="checkbox" name="switch" id="myswitch">
//   <label class="ss-icon" for="myswitch">
//     <div class="inner"></div>
//     <div class="nib"></div>
//   </label>
//  </div>

.switch {

  $switch-radius: 6em;

  @include user-select(none);
  position: relative;
  width: 2.8em;
  float: left;
  margin: 0.2em 0.6em 0 0;

  input[type='checkbox'] { display: none; }
  input[type='checkbox']:checked + label .inner { margin-left: 0; }
  input[type='checkbox']:checked + label .nib { right: 0; }

  label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: $switch-radius;
    padding: 0;

    .inner {
      margin-left: -100%;
      width: 200%;

      &:before, &:after {
        @include box-sizing(border-box);
        color: white;
        float: left;
        font-size: 0.6em;
        line-height: 1.8em;
        padding: 0.2em 0 0;
        width: 50%;
      }

      &:before {
        background-color: #26BA6B;
        color: #1C7C48;
        content: "check";
        padding-left: 1em;
      }

      &:after {
        background-color: #C5C5C5;
        color: #8E8E8E;
        content: "close";
        padding-right: 1em;
        text-align: right;
      }
    }

    .nib {
      background: #FFFFFF;
      border-radius: $switch-radius;
      bottom: 0;
      margin: 0.2em;
      position: absolute;
      top: 0;
      width: 0.8em;
    }
  }
}

p.switch-label {
  float: left;
  margin: 0.175em 0 0 0;
}

// input,
// select,
// textarea {
//   font-size: 15px;
//   line-height: 21px;
//   padding: 11px 10px 10px;
//   border: 2px solid $form-border-color;

//   @include media($mobile) {
//     font-size: 14px !important;
//     line-height: 19px !important;
//     padding: 9px 8px 8px;
//   }

//   &:active,
//   &:focus {
//     border: 2px solid $link-color;
//   }
// }

// input[type="checkbox"],
// input[type="radio"] {
//   margin-right: 8px;
// }

// #{$all-text-inputs} {
//   &[disabled] {
//     background: $form-border-color;
//     color: $body-text-color;
//     font-style: italic;
//   }
// }


// .fieldWithErrors {
//   input {
//     border: 2px solid $error-background-color;
//   }

//   .errors {
//     font-size: 12px;
//     color: $error-background-color;
//   }
// }
