@import "reimagine/globals";

// Paragraphs
body {
  @include typekit-helper("proxima-nova-n4", normal, 400);
  color: $text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p { margin: 0 0 1em 0; }

em { @include typekit-helper("proxima-nova-i4", italic, 400); }

strong {
  @include typekit-helper("proxima-nova-n6", normal, 600);
  color: darken($text-color, 10%);

  & em { @include typekit-helper("proxima-nova-i6", italic, 600); }
}

small { 
  font-size: $base-font-size * 0.8125 !important; // 13px
  // use !important to override normalize for now
  line-height: 1.5em;
  display: inline-block; // to make line-height work
}  

// Headlines
h1, h2, h3, h4, h5, h6 {
  @include typekit-helper("proxima-nova-n6", normal, 600);
  color: $headline-color;
  line-height: $base-line-height;
  margin: 0 0 ($base-font-size / 2.5) 0;
  text-rendering: optimizelegibility;
}

h1 { 
  font-size: $base-font-size * 2.25; // 36px
  line-height: $base-line-height * 0.85714286; // 1.2em
}

h2 { 
  font-size: $base-font-size * 1.375; // 22px
  line-height: $base-line-height * 0.92857143; // 1.3em
} 

h3 { font-size: $base-font-size * 1.125 } // 18px
h4 { font-size: $base-font-size }
h5 { font-size: $base-font-size }
h6 { font-size: $base-font-size } //Do we need these?

// Utilities
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }

.text-error { color: $error; }
.text-success { color: $success; }

// Lists
ul, ol {
  list-style-position: outside;
  padding: 0 0 0 1em;
  margin: 0 0 1em 0;
}
