// Paragraphs
body {
  @include typekit-helper(normal, 400);
  color: $text-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p { margin: 0 0 1em 0; }

em { @include typekit-helper(italic, 400); }

strong {
  @include typekit-helper(normal, 600);
  color: darken($text-color, 10%);

  & em { @include typekit-helper(italic, 600); }
}

small {
  font-size: $base-font-size * 0.8125 !important; // 13px
  // use !important to override normalize for now
  line-height: 1.5em;
  display: inline-block; // to make line-height work
}

// Headlines
h1 {
  @include h1;
  margin: 0 0 ($base-font-size / 2.5) 0;

  &.large {
    font-size: $base-font-size * 3; // 48px

    @include media($mobile) {
      font-size: $base-font-size * 1.75; // 28px
    }
  }
}

h2 {
  @include h2;
  margin: 0 0 ($base-font-size / 2.5) 0;
}

h3 {
  @include h3;
  margin: 0 0 ($base-font-size / 2.5) 0;
}

// not using these yet:
h4, h5, h6 {
  @include headline-styles;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: 0 0 ($base-font-size / 2.5) 0;
}

.text-error { color: $error; }
.text-success { color: $success; }

// Lists
ul, ol {
  list-style-position: outside;
  padding: 0 0 0 1em;
  margin: 0 0 1em 0;
}
