<%= stylesheet_section "Footer" do %>
  <footer id="global-footer" class="container">
    <div class="links">
      <div class="site-map">
        <a href="#">About</a>
        <a href="#">Jobs</a>
        <a href="#">Press</a>
        <a href="#">Help</a>
      </div>

      <div class="legal">
        <small>
          <span class="copyright">&copy; 2013 ChallengePost</span>
          <a href="/privacy">Privacy</a>
          <a href="/terms">Terms</a>
        </small>
      </div>
    </div>

    <div class="social-media" >
      <a href="#" class="ss-icon ss-social-circle">tumblr</a>
      <a href="#" class="ss-icon ss-social-circle">twitter</a>
      <a href="#" class="ss-icon ss-social-circle">facebook</a>
    </div>
  </footer>
<% end %>
