<%= stylesheet_section "Global Nav" do %>
  <header id="global-nav">
    <div class="container">
      <nav id="global-nav-links">
        <a href="#" id="logo"><%= image_tag image_path("challengepost-logo.png") %></a>
        <a href="#" class="button link" data-role="discover">Find Challenges</a>
        <a href="#" class="button link" data-role="post-challenge">Post Challenges</a>
      </nav>

      <div class="drop-down-menu signed-out" id="global-nav-account">
        <a href="#" class="button link">Log in</a>
        <a href="#" class="button secondary"id="signup-link">Sign up</a>
      </div>
    </div>
  </header>
<% end %>
