<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
  <!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Reimagine2</title>

    <%= stylesheet_link_tag 'reimagine2' %>
    <%= stylesheet_link_tag 'application' %>
  </head>
<body class="foundation-grid">
  <section class="large-10 push-2 columns">
    <%= yield %>
  </section>

  <%= render 'navigation' %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
