<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Reimagine2</title>

  <%= stylesheet_link_tag 'reimagine2' %>
  <link rel="stylesheet" href="stylesheets/application.css">

  <script src="javascripts/vendor/custom.modernizr.js"></script>
</head>
<body class="foundation-grid">

  <nav id="masthead">
    <section class="row">
      <p>
        <a href="/" class="header-logo hide-text" id="challenge-gov-logo">Challenge.gov</a>
        <span id="challenge-gov-powered-by">powered by</span>
        <a href="http://challengepost.com" class="header-logo hide-text" id="challengepost-com-logo">ChallengePost.com</a>
      </p>
    </section>
  </nav>

  <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="javascripts/main.js"></script>
  <script>
    $(document).foundation();
  </script>
</html>
