<footer id="devpost-footer">
  <div class="row">
    <div class="large-8 small-9 columns">
      <nav id="site-footer-primary-nav">
        <ul class="">
          <li><a href="http://post.devpost.com/">Devpost for Organizations</a></li>
          <li><a href="http://info.devpost.com/about">About</a></li>
          <li><a href="http://info.devpost.com/jobs">Careers</a></li>
          <li><a href="http://blog.devpost.com/">Blog</a></li>
          <li><a href="http://info.devpost.com/contact">Contact</a></li>
          <li><a href="http://help.devpost.com/">Help</a></li>
        </ul>
      </nav>

      <nav id="site-footer-legal">
        <ul class="">
          <li>
            <a href="http://nytm.org/made" rel="nofollow" target="_blank">
              <small>Made with <i class="ss-icon ss-heart"></i> in NYC</small>
            </a>
          </li>
          <li><a href="http://info.devpost.com/privacy"><small>Privacy</small></a></li>
          <li><a href="http://info.devpost.com/terms"><small>Terms</small></a></li>
          <li><a href="http://info.devpost.com/guidelines"><small>Community Guidelines</small></a></li>
        </ul>
      </nav>
    </div>
    <div class="large-4 small-3 columns">
      <ul class="social-links">
        <li><a href="https://twitter.com/devposthacks" target="_blank" class="ss-icon ss-social-circle ss-twitter"></a></li>
        <li><a href="https://www.facebook.com/devposthacks" target="_blank" class="ss-icon ss-social-circle ss-facebook"></a></li>
        <li><a href="http://instagram.com/devposthacks" target="_blank" class="ss-icon ss-social-circle ss-instagram"></a></li>
      </ul>
    </div>
  </div>
</footer>
