<div class="contain-to-grid hide-for-large-up">
  <nav class="top-bar" data-options="is_hover:false" data-topbar>
    <ul class="title-area">
      <li class="name">
        <%= render "reimagine2/devpost/global_nav/logo",
          path: "reimagine2/devpost-icon.svg"  %>

      </li>
    </ul>

    <section class="top-bar-section">
      <%= render "reimagine2/devpost/global_nav/world", mobile: true %>
    </section>
  </nav>
</div>
