<h1>Buttons</h1>

<h2>Regular</h2>

<h3>Primary</h3>

<button class="button">button</button>
<button class="radius">.radius</button>
<button class="round">.round</button>

<h3>Secondary</h3>

<button class="secondary">.secondary</button>
<button class="secondary radius">.radius</button>
<button class="secondary round">.round</button>

<h2>Disabled</h2>

<h3>Primary</h3>

<button class="disabled ">.disabled</button>
<button class="disabled radius">disabled.radius</button>
<button class="disabled round">disabled.round</button>

<h3>Secondary</h3>

<button class="disabled secondary">.disabled</button>
<button class="disabled secondary radius">.disabled.radius</button>
<button class="disabled secondary round">.disabled.round</button>

<h2>Large</h2>

<h3>Primary</h3>

<button class="large ">.large</button>
<button class="large radius">button.radius</button>
<button class="large round">button.round</button>

<h3>Secondary</h3>

<button class="large secondary">.large</button>
<button class="large secondary radius">.large.radius</button>
<button class="large secondary round">.large.round</button>

<h2>Medium</h2>

<h3>Primary</h3>

<button class="medium ">.medium</button>
<button class="medium radius">.medium.radius</button>
<button class="medium round">.medium.round</button>

<h3>Secondary</h3>

<button class="medium secondary">.medium</button>
<button class="medium secondary radius">.medium.radius</button>
<button class="medium secondary round">.medium.round</button>

<h2>Small</h2>

<h3>Primary</h3>

<button class="small ">.small</button>
<button class="small radius">.small.radius</button>
<button class="small round">.small.round</button>

<h3>Secondary</h3>

<button class="small secondary">.small</button>
<button class="small secondary radius">.small.radius</button>
<button class="small secondary round">.small.round</button>

<h2>Small</h2>

<h3>Primary</h3>

<button class="tiny ">.tiny</button>
<button class="tiny radius">.tiny.radius</button>
<button class="tiny round">.tiny.round</button>

<h3>Secondary</h3>

<button class="tiny secondary">.tiny</button>
<button class="tiny secondary radius">.tiny.radius</button>
<button class="tiny secondary round">.tiny.round</button>

<h2>Expand</h2>

<h3>Primary</h3>

<button class="large expand">.expand.large</button>
<button class="medium expand">.expand.medium</button>
<button class="small expand">.expand.small</button>
<button class="tiny expand">.expand.tiny</button>

<h3>Secondary</h3>

<button class="secondary expand ">.expand</button>
<button class="secondary large expand">.expand.large</button>
<button class="secondary medium expand">.expand.medium</button>
<button class="secondary small expand">.expand.small</button>
<button class="secondary tiny expand">.expand.tiny</button>
