<div class="row">
  <div class="large-6 columns">
    <h1><code>button</code></h1>
  </div>

  <div class="large-6 columns">
    <h1><code>button.secondary</code></h1>
  </div>
</div>

<div class="row">
  <div class="panel large-6 columns">
    <button class="">button</button><br>
    <button class="radius">.radius</button><br>
    <button class="round">.round</button><br>
  </div>

  <div class="panel large-6 columns">
    <button class="secondary">.secondary</button><br>
    <button class="secondary radius">.radius</button><br>
    <button class="secondary round">.round</button><br>
  </div>
</div>

<div class="row">
  <div class="panel large-6 columns">
    <button class="disabled ">.disabled</button><br>
    <button class="disabled radius">disabled.radius</button><br>
    <button class="disabled round">disabled.round</button><br>
  </div>

  <div class="disabled panel large-6 columns">
    <button class="disabled secondary">.disabled</button><br>
    <button class="disabled secondary radius">.disabled.radius</button><br>
    <button class="disabled secondary round">.disabled.round</button><br>
  </div>
</div>


<div class="row">
  <div class="panel large-6 columns">
    <button class="large ">.large</button><br>
    <button class="large radius">button.radius</button><br>
    <button class="large round">button.round</button><br>
  </div>

  <div class="large panel large-6 columns">
    <button class="large secondary">.large</button><br>
    <button class="large secondary radius">.large.radius</button><br>
    <button class="large secondary round">.large.round</button><br>
  </div>
</div>

<div class="row">
  <div class="medium panel large-6 columns">
    <button class="medium ">.medium</button><br>
    <button class="medium radius">.medium.radius</button><br>
    <button class="medium round">.medium.round</button><br>
  </div>

  <div class="medium panel large-6 columns">
    <button class="medium secondary">.medium</button><br>
    <button class="medium secondary radius">.medium.radius</button><br>
    <button class="medium secondary round">.medium.round</button><br>
  </div>
</div>

<div class="small row">
  <div class="small panel large-6 columns">
    <button class="small ">.small</button><br>
    <button class="small radius">.small.radius</button><br>
    <button class="small round">.small.round</button><br>
  </div>

  <div class="small panel large-6 columns">
    <button class="small secondary">.small</button><br>
    <button class="small secondary radius">.small.radius</button><br>
    <button class="small secondary round">.small.round</button><br>
  </div>
</div>

<div class="tiny row">
  <div class="tiny panel large-6 columns">
    <button class="tiny ">.tiny</button><br>
    <button class="tiny radius">.tiny.radius</button><br>
    <button class="tiny round">.tiny.round</button><br>
  </div>

  <div class="tiny panel large-6 columns">
    <button class="tiny secondary">.tiny</button><br>
    <button class="tiny secondary radius">.tiny.radius</button><br>
    <button class="tiny secondary round">.tiny.round</button><br>
  </div>
</div>

<div class="row">
  <div class="panel large-6 columns">
    <button class="expand ">.expand</button><br>
    <button class="large expand">.expand.large</button><br>
    <button class="medium expand">.expand.medium</button><br>
    <button class="small expand">.expand.small</button><br>
    <button class="tiny expand">.expand.tiny</button><br>
  </div>


  <div class="panel large-6 columns">
    <button class="secondary expand ">.expand</button><br>
    <button class="secondary large expand">.expand.large</button><br>
    <button class="secondary medium expand">.expand.meidum</button><br>
    <button class="secondary small expand">.expand.small</button><br>
    <button class="secondary tiny expand">.expand.tiny</button><br>
  </div>
</div>
