<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <button class="">button</button>
      <button class="radius">button.radius</button>
      <button class="round">button.round</button>
    </div>

    <div class="secondary panel">
      <button class="secondary">button.secondary</button>
      <button class="secondary radius">button.secondary.radius</button>
      <button class="secondary round">button.secondary.round</button>
    </div>

    <div class="disabled panel">
      <button class="disabled">button.disabled</button>
      <button class="disabled radius">button.disabled.radius</button>
      <button class="disabled round">button.disabled.round</button>
    </div>

    <div class="panel">
      <button class="large">button.large</button>
      <button class="large radius">button.large.radius</button>
      <button class="large round">button.large.round</button>
    </div>


    <div class="panel">
      <button class="medium">button.medium</button>
      <button class="medium radius">button.medium.radius</button>
      <button class="medium round">button.medium.round</button>
    </div>


    <div class="panel">
      <button class="small">button.small</button>
      <button class="small radius">button.small.radius</button>
      <button class="small round">button.small.round</button>
    </div>


    <div class="panel">
      <button class="tiny">button.tiny</button>
      <button class="tiny radius">button.tiny.radius</button>
      <button class="tiny round">button.tiny.round</button>
    </div>


    <div class="panel">
      <button class="expand">button.expand</button>
      <button class="large expand">button.large.expand</button>
      <button class="medium expand">button.medium.expand</button>
      <button class="small expand">button.small.expand</button>
      <button class="tiny expand">button.tiny.expand</button>
    </div>
  </div>
</div>
