<h1>Forms</h1>

<form accept-charset="UTF-8" action="/apps" class="simple_form new_software" id="new_software" method="post" novalidate="novalidate"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="nnzylj71UFBkxjEc3WS8p+ISV3qq3moAydubYjYfw9E="></div>

  <div class="input url required software_url"><label class="url required control-label" for="software_url"><abbr title="required">*</abbr> URL</label><input class="string url required" id="software_url" name="software[url]" size="50" type="url"></div>
  <div class="input string required software_name"><label class="string required control-label" for="software_name"><abbr title="required">*</abbr> Name</label><input class="string required" id="software_name" name="software[name]" size="50" type="text"></div>
  <div class="input text required software_tagline"><label class="text required control-label" for="software_tagline"><abbr title="required">*</abbr> Tagline</label><textarea class="text required" cols="40" id="software_tagline" name="software[tagline]" rows="20"></textarea></div>

  <div class="row">
    <div class="input check_boxes optional software_platform_ids clearfix"><label class="check_boxes optional control-label columns">Platforms</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_30" name="software[platform_ids][]" type="checkbox" value="30">Web</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_14" name="software[platform_ids][]" type="checkbox" value="14">iOS</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_26" name="software[platform_ids][]" type="checkbox" value="26">Symbian</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_20" name="software[platform_ids][]" type="checkbox" value="20">Windows</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_16" name="software[platform_ids][]" type="checkbox" value="16">Android</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_25" name="software[platform_ids][]" type="checkbox" value="25">Java ME</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_21" name="software[platform_ids][]" type="checkbox" value="21">Mac</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_27" name="software[platform_ids][]" type="checkbox" value="27">BlackBerry</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_29" name="software[platform_ids][]" type="checkbox" value="29">Kindle</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_22" name="software[platform_ids][]" type="checkbox" value="22">Linux</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_28" name="software[platform_ids][]" type="checkbox" value="28">Windows Phone</label><label class="checkbox large-4 small-6 columns"><input class="check_boxes optional" id="software_platform_ids_31" name="software[platform_ids][]" type="checkbox" value="31">Hardware</label><input name="software[platform_ids][]" type="hidden" value=""></div>
  </div>

  <div class="input text optional software_description"><label class="text optional control-label" for="software_description">Description</label><textarea class="text optional" cols="40" id="software_description" name="software[description]" rows="20"></textarea></div>


  <div class="form-actions-list">
    <input class="button" name="commit" type="submit" value="Create Software">
    <a href="/users/RobBout2">Cancel</a>
  </div>
</form>
