<h1>Pagination</h1>

<div>
  Add to Gemfile
  <pre>
    <code data-language="ruby">
      gem 'kaminari'
    </code>
  </pre>
</div>

<div>
  Specify kamimari theme in the view
  <pre>
    <code data-language="ruby">
      &lt;%= paginate @guides, theme: &quot;foundation&quot; %&gt;
    </code>
  </pre>
</div>
