<h3>
  In order to use pagination with Foundation:
</h3>

<div>
  Add to Gemfile
  <pre>
  gem 'kaminari'
  </pre>
</div>

<div>
  Specify kamimari theme in the view
  <pre>
  &lt;%= paginate @guides, theme: &quot;foundation&quot; %&gt;
  </pre>
</div>
