<%
  flash[:notice] = 'a .notice message'
  flash[:alert] = 'an .alert message'
  flash[:success] = 'a .success message'
%>

<div class="row">
  <div class="small-12 columns">
    <%= render 'reimagine2/flash_messages' %>

  <br>
  <div class="alert-box success">
    Some text and a link to
    <%= link_to 'Holly', 'http://holly-smith.com/' %>'s
    portfolio
  </div>

  <br>
  <div class="alert-box alert">
    Some text and a link to
    <%= link_to 'Holly', 'http://holly-smith.com/' %>'s
    portfolio
  </div>

  <br>

  <div class="alert-box notice">
    Some text and a link to
    <%= link_to 'Holly', 'http://holly-smith.com/' %>'s
    portfolio
  </div>

  <p>
    Just add <code>&lt;%= render "reimagine2/flash_messages" %&gt;</code> in your template and it should pick <code>:error</code>, <code>:success</code>, and <code>:notice</code>.
  </p>
</div>
