<div class="row">
  <ul class="tab-nav">

    <li class="active">
      <%= link_to "Home", "#" %>
    </li>
    <li>
      <%= link_to "Rules", "#" %>
    </li>
    <li>
      <%= link_to "Discussions", "#" %>
    </li>
  </ul>
</div>

<div id="container" class="row">
  <div class="small-12 columns">
    <h1>Yo</h1>
    <p>haha</p>
  </div>
</div>

