<h1>Tabs</h1>

<ul class="tab-nav">
  <li class="active">
  <a href="#">Home</a>
  </li>
  <li>
    <a href="#">Rules</a>
  </li>
  <li>
    <a href="#">Discussions</a>
  </li>
</ul>

<div id="container" class="row">
  <div class="small-12 columns">
    <h1>Yo</h1>
    <p>haha</p>
  </div>
</div>

