<div class="row">
  <div class="large-12 columns">
    <h1>h1. This is header level 1.</h1>

    <p>
      This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool.
    </p>

    <h2>h2. This is header level 2.</h2>

    <p>
      This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool.
    </p>

    <h3>h3. This is header level 3.</h3>

    <p>
      This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool.
    </p>

    <h4>h4. This is header level 4.</h4>

    <p>
      This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool.
    </p>

    <p>
      This is a paragraph with some <code>&lt;small&gt;</code><small>small text</small><code>&lt;/small&gt;</code>. The <code>&lt;small&gt;</code> tag keeps the line height because it's meant to be use within content that is now <code>&lt;small&gt;</code>.
    </p>

    <p class="small">
      However, if your entire paragraph is small, then maybe you should use the <code>.small</code> class on it instead. Small text with huge line-height looks quite strange. And <code>&lt;small&gt;</code> had a <code>line-height: inherit;</code> CSS rule so it will have the same line height as it's parent. One would think that if the parent <code>line-height</code> is relative (uses <code>em's</code> or <code>%'s</code>) then <code>inherit</code> means that <code>&lt;small&gt;</code> will have a relative <code>line-height</code>, too. But the <code>inherit</code> property uses the computed values.<br>

      For example, a <code>&lt;p&gt;</code> with <code>font-size: 16px; line-height: 1.5;</code> will have a computed <code>line-height: 24px;</code>, and so will the text within <code>&lt;small&gt;</code>.
    </p>

    <h5>h5. This is header level 5.</h5>

    <p>
      This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool.
    </p>


    <h6>h6. This is header level 6.</h6>

    <p>
      This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool.
    </p>


    <h2>lists</h2>

    <div class="row">
      <div class="large-3 columns ">
        <div class="panel">
          <ul class="">
            <li><code>ul</code></li>
            <li><code>ul</code></li>
            <li><code>ul</code></li>
            <li><code>ul</code></li>
          </ul>
        </div>
      </div>

      <div class="large-3 columns">
        <div class="panel">
          <ul class="inline-list">
            <li><code>ul.inline-list</code></li>
            <li><code>ul.inline-list</code></li>
            <li><code>ul.inline-list</code></li>
            <li><code>ul.inline-list</code></li>
          </ul>
        </div>
      </div>

      <div class="large-3 columns ">
        <div class="panel">
          <ul class="no-bullet">
            <li><code>ul.no-bullet</code></li>
            <li><code>ul.no-bullet</code></li>
            <li><code>ul.no-bullet</code></li>
            <li><code>ul.no-bullet</code></li>
          </ul>
        </div>
      </div>
      <div class="large-3 columns"></div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <div class="panel">
          <ul class="no-bullet inline-list">
            <li><code>ul.no-bullet.inline-list</code></li>
            <li><code>ul.no-bullet.inline-list</code></li>
            <li><code>ul.no-bullet.inline-list</code></li>
            <li><code>ul.no-bullet.inline-list</code></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
