
@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: normal;
  src: font-url('reimagine2/circular/CircularXXWeb-Regular.woff2') format("woff2"), font-url('reimagine2/circular/CircularXXWeb-Regular.woff') format("woff");
}

@font-face {
  font-family: "Circular";
  font-style: italic;
  font-weight: normal;
  src: font-url('reimagine2/circular/CircularXXWeb-Italic.woff2') format("woff2"), font-url('reimagine2/circular/CircularXXWeb-Italic.woff') format("woff");
}

@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: 500;
  src: font-url('reimagine2/circular/"CircularXXWeb-Medium.woff2') format("woff2"), font-url('reimagine2/circular/CircularXXWeb-Medium.woff') format("woff");
}

@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: bold;
  src:  font-url('reimagine2/circular/CircularXXWeb-Bold.woff2') format("woff2"), font-url('reimagine2/circular/CircularXXWeb-Bold.woff') format("woff");
}


