// Shorthand to call typekit font variations
@mixin typekit-helper ($variation, $style, $weight) {
  font: {
    family: $variation,
            "proxima-nova",
            "Helvetica Neue",
            Arial,
            sans-serif;
    style: $style;
    weight: $weight;
  }
}

// Button template
@mixin btn($button-color: $primary-color, $button-text: white) {
  background: $button-color;
  @include background-image(linear-gradient(lighten($button-color, 4%), darken($button-color, 7%)));
  border-radius: $button-radius;
  color: $button-text;
  padding: $base-font-size/2 $base-font-size;

  &:hover, &:focus {
    @include background-image(linear-gradient(lighten($button-color, 14%), $button-color));
    color: lighten($button-text, 10%);
  }

  &:active, &.active {
    @include background-image(linear-gradient(shade($button-color, 30%), shade($button-color, 20%)));
    @include transition(all 0.05s);
    color: tint($button-color, 55%);
  }
}

// Fade mixin for fade in/fade out link/button/etc colors on hover
@mixin fade() {
  @include transition (all 0.2s ease);
}

@mixin no-fade() {
  @include transition (none);
}