@import "reimagine/globals/variables";

// Shorthand to call typekit font variations
@mixin typekit-helper ($variation, $style, $weight) {
  font: {
    family: $variation,
            "proxima-nova",
            "Helvetica Neue",
            Arial,
            sans-serif;
    style: $style;
    weight: $weight;
  }
}

// Button template

@mixin btn($button-color: $primary-color, $button-text: white) {
  @include transition(all 0.1s ease-out);
  @include typekit-helper("proxima-nova-n6", normal, 600);

  background: $button-color;
  @include background-image(linear-gradient($button-color, shade($button-color, 6%)));
  border-radius: $button-radius;
  border: 0;
  color: $button-text;
  cursor: pointer;
  display: inline-block;
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: 0;
  padding: $base-font-size/1.4 $base-font-size*1.4;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover, &:focus {
    @include transition(all 0.2s ease-in);
    background: tint($button-color, 20%);
    color: lighten($button-text, 20%);
  }

  &:active, &.active {
    @include transition(all 0.05s);
    background: shade($button-color, 20%);
    color: tint($button-color, 50%);
  }

}