@import "neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(1088);

//Debug with visual grid
$visual-grid: false;
$visual-grid-index: front;
$visual-grid-color: red;
$visual-grid-opacity: 0.1;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);

// $modifier-object-variable-type
// $light-text-color

$primary-color: #108ac7; //blue
$secondary-color: #ffd333; //yellow
$tertiary-color: #666666; //gray

$page-color: #efefef;
$footer-color: #303133;

// Typography Colors
$text-color: #707070;
$light-text-color: lighten($text-color, 15%);
$dark-text-color: darken($text-color, 35%);

$headline-color: $dark-text-color;

// should be named $xxx-color
$warning: #ffd333; // yellow, same as $secondary-color
$error: #ed2918; // red
$success: #1eb268; // green

// Typography Sizes
$base-font-size: 1em;
$base-line-height: 1.4em;

$global-radius: 0.4em;
$button-radius: $global-radius;

$form-border: #dadada;

$section-padding: 40px
