#challengepost-footer
  background-color: $challengepost-footer-background-color
  color: $challengepost-footer-font-color

  a
    +link-colors($challengepost-footer-font-color, $hover: white, $active: white, $focus: white)

  ul
    margin-bottom: 0

#site-footer-social a
  font-size: 2em

#site-footer-legal
  &, a
    color: darken($challengepost-footer-font-color, 10%)
