.source-container {
  @include container;

  .highlight {
    code, pre { font-family: 'Ubuntu Mono', sans-serif; }
    display: none;
  }

  p {
    @include typekit-helper("proxima-nova-n6", normal, 600);
    font-size: $base-font-size * 0.8125; // 13px
    color: $dark-text-color;
    text-transform: uppercase;
    letter-spacing: 0.083333333em; // 1px
    padding: 1em 0;
    margin-bottom: 0;
  }

  a {
    float: right;
    display: inline;
    text-align: right;
    cursor: pointer;
    font-size: 0.75em;
  }
}

.row {
  .source-container {
    padding: 0;
  }
}
