.source-container {
  .highlight {
    code, pre { font-family: 'Ubuntu Mono', sans-serif; }
    display: none;
  }

  p {
    padding: 1em;
    font-weight: bold;
  }

  a {
    float: right;
    display: inline;
    text-align: right;
    cursor: pointer;
  }
}
