#loading-bar {
    position: fixed;
    top:0;
  left: 44%;
  z-index: 1003;
  background: black;
  display: none;
}

#loading-message {
  padding: 5px 15px 5px 42px;
  color:white;
  font-size:0.75em;
  font-weight:bold;
  background: image-url('animated/small-ajax-loader.gif') 15px 45% no-repeat;
}
