<footer id="challengepost-footer">
  <section id="site-footer-primary-group" class="row">
    <nav id="site-footer-developers" class="large-3 columns">
      <ul>
        <li><h5>Developers</h5></li>
        <li><a href="http://challengepost.com/portfolio">Portfolio</a></li>
        <li><a href="http://challengepost.com/software">Explore software projects</a></li>
        <li><a href="http://challengepost.com/discover">Find a challenge</a></li>
        <li><a rel="nofollow" href="https://challengepost.com/settings">Settings</a></li>
      </ul>
    </nav>

    <nav id="site-footer-organizations"class="large-3 columns">
      <ul>
        <li><h5>Organizations</h5></li>
        <li><a href="http://post.challengepost.com/">Grow your developer network</a></li>
        <li><a href="http://post.challengepost.com/hackathons">Post an in-person hackathon</a></li>
        <li><a href="http://post.challengepost.com/online_challenges">Post an online hackathon</a></li>
        <li><a href="http://post.challengepost.com/app_contest_resources">App contest best practices</a></li>
      </ul>
    </nav>

    <nav id="site-footer-about" class="large-3 columns">
      <ul>
        <li><h5>Who we are</h5></li>
        <li><a href="http://info.challengepost.com/about">About</a></li>
        <li><a href="http://info.challengepost.com/press">Press</a></li>
        <li><a href="http://info.challengepost.com/jobs">Jobs</a></li>
        <li><a href="http://blog.challengepost.com/" target="_blank">Blog</a></li>
      </ul>
    </nav>

    <nav id="site-footer-social" class="large-3 columns">
      <ul>
        <li><h5>Get in touch</h5></li>
        <li><a href="http://challengepost.com/contact">Contact us</a></li>
        <li><a href="http://help.challengepost.com/">Help</a></li>
        <li class="has-icons">
          <a href="https://twitter.com/challengepost" target="_blank" class="ss-icon ss-social-circle ss-twitter"></a>
          <a href="https://www.facebook.com/challengepost" target="_blank" class="ss-icon ss-social-circle ss-facebook"></a>
          <a href="http://blog.challengepost.com/" target="_blank" class="ss-icon ss-social-circle ss-tumblr"></a>
        </li>
      </ul>
    </nav>
  </section>

  <section id="site-footer-secondary-group">
    <nav id="site-footer-legal" class="row">
      <ul class="large-12 columns">
        <li>
          <a href="http://challengepost.com/">
            <span class="copyright"><small> &copy; <%= Time.current.year %> ChallengePost</small></span>
          </a>
        </li>
        <li><a href="http://challengepost.com/privacy"><small>Privacy</small></a></li>
        <li><a href="http://challengepost.com/terms"><small>Terms</small></a></li>
        <li><a href="http://challengepost.com/guidelines"><small>Community Guidelines</small></a></li>
        <li><a rel="nofollow" href="http://nytm.org/made" target="_blank"><small>Made in NYC</small></a></li>
      </ul>
    </nav>
  </section>
</footer>
