<footer id="challengepost-footer" class="content-section">
  <div class="row">
    <div class="large-9 columns">
      <nav>
        <ul id="site-footer-sitemap" class="inline-list all-caps bold">
          <li><a href="http://challengepost.com/post">Post challenges</a></li>
          <li><a href="http://challengepost.com/jobs">Jobs</a></li>
          <li><a href="http://challengepost.com/press">Press</a></li>
          <li><a href="http://blog.challengepost.com/" target="_blank">Blog</a></li>
          <li><a href="http://help.challengepost.com/" target="_blank">Help</a></li>
        </ul>
      </nav>

      <nav>
        <ul id="site-footer-legal" class="inline-list">
          <li><span class="copyright">&copy; <%= Time.current.year %> <a href="http://challengepost.com/">ChallengePost</a></span></li>
          <li><a href="http://challengepost.com/privacy">Privacy</a></li>
          <li><a href="http://challengepost.com/terms">Terms</a></li>
          <li><a href="http://nytm.org/made">Made in NYC</a></li>
        </ul>
      </nav>
    </div>

    <nav class="large-3 columns">
      <ul id="site-footer-social" class="inline-list right ">
        <li><a href="https://twitter.com/challengepost" target="_blank" class="ss-icon ss-social-circle ss-twitter"></a></li>
        <li><a href="http://facebook.com/challengepost" target="_blank" class="ss-icon ss-social-circle ss-facebook"></a></li>
      </ul>
    </nav>
  </div>
</footer>
