<header id="global-nav">
  <div class="contain-to-grid">
    <nav class="top-bar" data-options="is_hover:false" data-topbar>
      <ul class="title-area">
        <li class="name">
          <div id="logo">
            <%= link_to reimagine_root_url do %>
              <%= responsive_image_tag "reimagine2/ChallengePost_logo.png", alt: "ChallengePost" %>
            <% end %>
          <div>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <%= render 'reimagine2/challengepost/global_nav/world' %>
        <%= render 'reimagine2/challengepost/global_nav/account' %>

      </section>
    </nav>
  </div>
</header>
