$li-margin: 0 2.5rem .5rem 0;

#devpost-footer {
  background-color: $grey-2;
  font-size: 1rem;

  .body {
    padding: 3em 0;
  }

  h4 {
    font-size: 1rem;
    margin-bottom: 1em;
    text-transform: none;

    @media #{$small} {
      font-size: 1.125rem;
    }
  }

  a {
    @include link-colors($grey-5) {
      
    }
    // border-bottom: 1px solid $grey-2;
    transition: text-decoration 0.5s ease;
    font-size: .8rem;

    @media #{$small} {
      font-size: 1rem
    }

    &:hover {
      border-color: $grey-5;
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 0;
    list-style: none;
    margin: 0;

    li {
      margin-right: 0;
      
      @media #{$small} {
        margin: $li-margin;  
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .social-links {
    a {
      .icon {
        display: inline-block;
        width: 18px;
        margin-right: .2rem;
        
        @media #{$small} {
          margin-right: .75rem;
        }

        i {
          &.fa {
            width: 24px;
            height: 25px;
            background: image-url("reimagine2/social_logos.svg") no-repeat;
            background-size: 24px 124px;
          }
        }
      }

      &:hover {
        text-decoration: none;

        span {
          text-decoration: underline;
        }
      }

      span {
        transition: text-decoration 0.5s ease;
      }
    }
  }

  .with-bottom-margin {
    margin-bottom: 2em;
    @media #{$small} {
      margin-bottom: 0;
    }
  }

  .legal-bar-container {
    text-align: center;
    // fixme: Border color is not included in the color spec
    border-top: 1px solid #D9E2E6;

    .legal-bar {
      display: inline-block;
      margin: 1em 0;
      ul {
        display: inline-block;
        text-align: center;
        
        li {
          margin: 0;
          font-size: .8rem;
          
          &.copyright-notice {
            margin-bottom: 1em;

            @media #{$small} {
              margin-bottom: 0;
            }
          }

          @media #{$small} {
            font-size: 1rem;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      @media only screen and (min-width: 850px) {
        margin: 0;

        ul {
          display: flex;

          li {
            margin: $li-margin;
            line-height: 70px;
          }
        }
      }

    }
  }
}