#challengepost-footer
  background-color: $grey-6
  text-align: center
  font-size: 1rem
  text-align: left

  h5
    margin: 0
    color: white

  a
    +link-colors($grey-4, $hover: white, $active: white, $focus: white)
    +hover-link
    display: inline

  ul
    margin-bottom: 0
    list-style: none
    margin: 0

    li
      margin: 0 0 0.3rem
      display: block

      &.has-icons
        margin-top: 1rem
        margin: 0

  a.ss-icon
    font-size: 2.25rem
    margin-right: 0.75rem
    &:hover
      text-decoration: none

#site-footer-primary-group
  background-color: $grey-6
  padding: 2em 0

#site-footer-secondary-group
  background-color: $page-background

#site-footer-legal
  padding: 1em 0

  ul
    li
      @media #{$small}
        display: inline-block
        margin-right: 2em
