.top-bar
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3)

  #logo
    width: 35px
    height: 50px

    @include breakpoint(large up)
      width: 185px
      height: 36px
      position: relative

  .menu-text
    padding: 0

    a
      padding: 0

  .dropdown.menu > li.is-dropdown-submenu-parent
    @include breakpoint(small only)
      position: static

      .is-dropdown-submenu
        top: 50px
        width: 100%

    & > a
      &:after
        border-top-color: $grey-3

      @include breakpoint(small only)
        padding-right: 0.6rem

        &:after
          right: 2px
          border-width: 5px
          margin-top: -1px

  .menu:not(.submenu) > li:not(.menu-text) > a
    color: $dark
    line-height: rem-calc(50)
    font-size: 0.875rem

    @include breakpoint(large up)
      font-size: 1rem
      line-height: $topbar-height
      padding: 0 1.5rem

    &:hover
      background: $grey-1

  .submenu
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px
    border: 0

    & > li > a
      line-height: 42px
      border-bottom: 1px solid $grey-1
      font-size: 0.9em

  .is-dropdown-submenu-parent.is-active > a
    background: $grey-1

  .is-submenu-item
    &:hover
      background: $grey-1

  .youtube-icon
    display: none
    color: $grey-3

    @include breakpoint(medium up)
      display: inline-block

  .user-avatar
    height: 25px
    width: 25px

    @include breakpoint(medium up)
      height: 28px
      width: 28px

  .top-bar-left, .top-bar-right
    @include breakpoint(small)
      width: auto

  .top-bar-wrapper
    @include breakpoint(small only)
      padding-left: 0.4rem
      padding-right: 0.4rem

  .inner-button
    display: inline-block
    line-height: 26px
    padding: 0 6px 2px
    border-radius: 2px
    color: white
    background: $primary-1
