#global-nav
  background: white
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3)
  position: relative
  padding: 1px 0

  .top-bar-section
    .has-dropdown > a:after
      border-top-color: transparent
      border-left-color: $grey-3

    .logged-out
      @media (max-width: 329px)
        margin-right: 5px
        a
          padding: 0
      li.show-for-medium-up
        margin-right: 1em

    ul li > a
      padding:
        top: 0
        bottom: 0
      transition: background-color 0.2s ease

      &.button
        @extend .button

  .name
    float: left

  #logo
    img
      height: 36px
      width: 185px
      position: relative
      top: -2px

    a
      line-height: $topbar-height
      max-height: $topbar-height
      padding: 0 0.5em 0 1em

  a
    font-weight: normal
    line-height: $topbar-height
    max-height: $topbar-height

    &:hover,
    &:active,
    &:focus
      strong
        color: $dark-primary

      .alpha
        background-color: $grey-2

    img.user-avatar
      @media (max-width: 329px)
        max-width: 25px
        max-height: 25px
      @media (min-width: 330px)
        max-width: 28px
        max-height: 28px

    &.main-link
      font-size: 1em
      padding: 0 1.5em

      &:hover,
      &:active,
      &:focus
        color: $dark-primary

      strong
        display: inline

  .alpha
    display: none
    letter-spacing: 1px
    background-color: rgba(199, 198, 197, 0.5)
    color: $topbar-link-color
    @include single-transition(background-color, 0.2s)

    @media #{$medium}
      display: inline-block

  .youtube-icon
    color: $grey-3
    display: none
    vertical-align: middle

    @media #{$medium}
      display: inline

  // Back button on mobile
  h5
    font-size: 0.9em
    color: $dark-primary
    text-transform: uppercase
    letter-spacing: 1px
    margin-top: 0

    &:hover,
    &:active,
    &:focus
      background-color: $grey-1

    a
      padding-left: 2.5em

      &:before
        content: ""
        border: inset 5px
        border-color: transparent $grey-3 transparent transparent
        position: absolute
        top: 16px
        left: 15px

  .tiny
    font-size: 0.7em

  .dropdown
    a
      font-size: 0.9rem

  .dropdown
    background: white
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 0px

    li a
      line-height: $topbar-height * 2/3

      padding:
        top: 0
        bottom: 0

    .label
      margin-left: 0.5em

      &.profile-completion
        color: white
        text-shadow: 0 0 1px black

  .label.mask
    float: left
    margin-right: 1em

  @media #{$medium}
    .top-bar-section
      & > ul > .divider
        border-color: transparent

  @media #{$small}
    .top-bar-section
      .has-dropdown
        &.hover .user
          color: $dark-primary

        & > a:after
          border-top-color: $grey-3
          border-left-color: transparent

      .dropdown
        li
          &.has-dropdown > a:after
            content: ""
            border: inset 5px
            border-color: transparent transparent transparent $grey-3
            border-left-style: solid
            top: 18px
            right: 0

    .tiny
      bottom: -15px

    a
      img.user-avatar
        display: inline-block !important
        position: relative
        top: -3px

      strong
        font-size: 1.25em
        line-height: 1.2em

        &.user
          font-size: 1.15em

    #masqueradee
      margin: 12px 0
      top: 0

  & > .hide-for-large-up
    a
      font-size: 0.875em
      line-height: 50px
      padding: 0 0.5em

    .name
      height: 50px
      float: left

    .top-bar
      height: 50px
      line-height: 50px

      &.expanded
        height: auto

    #logo
      a
        padding: 0 0.4em
        height: 50px
        line-height: 50px

      img
        height: 50px
        width: auto
        position: static
        margin-top: -5px
        padding: 10px 0

    .toggle-topbar
      float: right !important
      @media (max-width: 329px)
        margin-right: 5px
      @media (min-width: 330px)
        margin-right: 10px

      a
        height: 50px
        @media (max-width: 329px)
          padding: 0 0.25em

      > a::after
        border-left-color: transparent
        border-top-color: #c7c6c5
        border-top-style: solid
        margin: 0

    .user-avatar
      margin-right: 10px

    .title-area
      width: 100%

      li, ul
        float: left

      .logged-out
        width: auto

        ul
          line-height: 0

  #hamburger
    margin: 0
    width: 40px
    color: $grey-3
    font-size: 1rem

.ui-autocomplete
  max-width: 300px
