// Headings only

@font-face {
  font-family: 'ClearSans';
  font-style: normal;
  font-weight: 600;
  src: font-url('reimagine2/clearsans/ClearSans-Bold.woff') format('woff'),
       font-url('reimagine2/clearsans/ClearSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ClearSans';
  font-style: italic;
  font-weight: 600;
  src: font-url('reimagine2/clearsans/ClearSans-BoldItalic.woff') format('woff'),
       font-url('reimagine2/clearsans/ClearSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'ClearSans-Thin';
    font-style: normal;
    font-weight: 100;
    src: font-url('reimagine2/clearsans/ClearSans-Thin.woff') format('woff'),
         font-url('reimagine2/clearsans/ClearSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'ClearSans-Regular';
  src: font-url('reimagine2/clearsans/ClearSans-Regular.woff') format('woff'),
  font-url('reimagine2/clearsans/ClearSans-Regular.ttf') format('truetype');
}
