.challenge-listing {
  a {
    @include link-box;

    .challenge-synopsis {
      @include span-columns(9);
      border-right: 2px dotted darken($page-color, 5%);
      padding-right: 1.25em;

      .challenge-logo {
        float: left;
        max-width: 13.605442%; // 100px
        margin-right: 2.7210884%; // 20px
        margin-top: 0.375em;

        img {
          width: 100%;
          display: block;
        }
      }

      h2,
      p.posted-by,
      p.challenge-description {
        float: left;
        width: 83.6734696%;
      }

      h2 {
        margin: 0 0 0.2em 0;
        color: $primary-color;
        @include fade;
      }

      p.posted-by {
        color: $light-text-color;
        font-style: italic;
        margin: 0 0 0.3em 0;
      }

      p.challenge-description { margin: 0; }
    }

    .stats {
      margin-top: 0.4em;
      @include span-columns(3);

      .prizes {
        margin-bottom: 16px;
      }

      .prizes,
      .submission-time {
        @include clearfix;

        .date-range {
          line-height: 2em;
          margin-top: 0;
        }
      }

      .symbol {
        color: $secondary-color;
        float: left;
        font-size: 2em;
        line-height: 1.4em;
        width: 20%;
      }

      .text {
        float: left;
        width: 80%;
      }

      .value {
        @include h3;

        @include media($mobile) {
          margin-right: 0.1em;
        }
      }

      .action {
        @include typekit-helper(normal, 600);
        color: $light-text-color;
        font-size: $base-font-size * 0.75; // 12px
        line-height: 1.5em;
        letter-spacing: 0.083333333em; // 1px
        text-transform: uppercase;
        display: block;

        &.one-line {
          line-height: 3em;
        }
      }
    } // END .stats

  } // END a

  /* MOBILE STYLES */

  @include media($mobile) {
    a {
      border: none;
      padding: 1em;
      margin-bottom: 0.4em;

      .challenge-synopsis {
        @include span-columns(4);
        border-right: none;
        padding-right: 0;

        .challenge-logo {
          @include span-columns(1);

          img { margin-bottom: 0.5em; }
        }

        h2 {
          @include span-columns(3);
          margin-right: 0;
        }

        p.posted-by,
        p.challenge-description { width: 100%; }

        p.challenge-description { margin: 0 0 0.5em 0; }
      }

      .stats {
        margin-top: 0;
        @include span-columns(4);

        .prizes {
          margin-bottom: 0.5em;

          .action.one-line {
            line-height: 1.4em;
          }
        }

        .symbol {
          width: auto;
          font-size: 1.125em; // 18px
          margin-right: 0.5em;
        }

        .submission-time .symbol {
          font-size: 1.0625em; // 17px, slightly smaller for clock icon
          padding-top: 0.3em;
        }

        .text { width: auto; }

        .value, .action { display: inline-block; }

      } // END .stats

      &:hover {
        box-shadow: none;
        border: none;
      }
    }

  } // END mobile styles

} // END .challenge-listing
