.error-page {
  background-color: #eeeeee;

  header {
    margin-bottom: 24px;

    #group-logo {
      @include span-columns(8);
      @include shift(2);

      @include media($mobile) {
        @include span-columns(4);
        @include shift(0);
      }
    }
  } // close header

  .layout-container {
    @include media($mobile) {
      padding: 2.35765%;
    }
  }

  article {
    @include span-columns(8);
    @include shift(2);
    background: white;
    padding: 24px;

      @include media($mobile) {
        @include span-columns(4);
        @include shift(0);
        padding: 12px;
      }

    h2, p {
      margin-bottom: 12px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .video{
      position: relative;
      padding-bottom: 56.25%; /* 16/9 ratio */
      height: 0;
      overflow: hidden;

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  } // close article

}

.error404 {
  @include linear-gradient(90deg, #e52424 0%, #0090d9 25%, #00d929 50%, #ffdc00 75%, #e52424 100%);
  background-color: #e52424;

  .unicorn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 532px;
    height: 251px;
    z-index: -5;
    background: image-url('404-unicorn.png') no-repeat;

    @include media($mobile) {
      display: none;
    }
  }
}
