#global-footer {
  padding: 1.5em 1em;

  .links {
    float: left;

    .site-map {
      margin-bottom: 0.25em;

      a {
        @include typekit-helper(normal, 600);
        font-size: $base-font-size * 0.875; // 0.875em or 14px
        line-height: $base-font-size * 0.875; // 0.875em or 14px
        letter-spacing: 0.14285714em; // 2px
        text-transform: uppercase;
        color: lighten($text-color, 24%);
        margin-right: 1.75em;

        &:last-of-type { margin-right: 0; }

        &:hover,
        &:focus { color: white; }
      }
    }

    .legal {
      .copyright {
        float: left;
        margin-right: 2em;
      }

      a {
        margin-right: 2em;
        color: $text-color;

        &:last-of-type { margin-right: 0; }
        &:hover, &:focus { color: white; }
      }
    }
  } // END .links

  .social-media {
    float: right;

    a {
      font-size: 2em;
      line-height: 1.5em;
      margin-right: 0.4em;
      color: lighten($text-color, 5%);

      &:hover, &:focus { color: white; }

      &:last-of-type { margin-right: 0; }
    }
  }

  @include media($mobile) {
    text-align: center;

    .links,
    .social-media { float: none; }

    .links .legal .copyright,
    .links .legal a,
    .links .sitemap a {
      float: none;
      margin-right: 1em;
    }

    .legal { margin-bottom: 0.5em; }
  }
}
