@import "bourbon";
@import "neat";
@import "reimagine/globals";
@import "reimagine/modules/symbolset";

/* Requires new footer partial

<footer id="global-footer" class="container">
  <div class="links">
    <div class="site-map">
      <a href="#">About</a>
      <a href="#">Jobs</a>
      <a href="#">Press</a>
      <a href="#">Help</a>
    </div>

    <div class="legal">
      <span class="copyright">&copy; 2013 ChallengePost</p></span>
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>

  <div class="social-media" >
    <a href="#" class="ss-icon ss-social-circle">tumblr</a>
    <a href="#" class="ss-icon ss-social-circle">twitter</a>
    <a href="#" class="ss-icon ss-social-circle">facebook</a>
  </div>
</footer>

*/

#global-footer {
  padding: 1.5em 1em;

  .links {
    float: left;
    
    .site-map {
      margin-bottom: 0.25em;
      
      a {
        @include typekit-helper("proxima-nova-n6", normal, 600);
        font-size: $base-font-size * 0.875; // 0.875em or 14px
        line-height: $base-font-size * 0.875; // 0.875em or 14px
        letter-spacing: 0.14285714em; // 2px
        text-transform: uppercase;
        color: lighten($text-color, 24%);
        margin-right: 1.75em;
        
        &:hover, &:focus { color: white; }
      }  
    }
    
    .legal {
      .copyright { float: left; margin-right: 2em;}
      
      a {
        margin-right: 2em;
        color: $text-color;
        
        &:hover, &:focus { color: white; }
      }
    }
  } // END .links

  .social-media {
    float: right;
    
    a {
      font-size: 2em;
      line-height: 1.5em;
      margin-right: 0.4em;
      color: lighten($text-color, 5%);
      
      &:hover, &:focus { color: white; }
      
      &:last-of-type { margin-right: 0; }
    }
  }
}