@import "bourbon";
@import "neat";
@import "reimagine/globals";


/* Requires new layout of global-nav

<header id="global-nav">
  <div class="container">
    <nav id="global-nav-links">
      <a href="#" id="logo"><%= image_tag image_path("challengepost-logo.png") %></a>
      <a href="#" class="button link" data-role="discover">Find Challenges</a>
      <a href="#" class="button link" data-role="post-challenge">Post Challenges</a>
    </nav>

    <div class="drop-down-menu signed-out" id="global-nav-account">
      <a href="#" class="button link">Log in</a>
      <a href="#" class="button secondary"id="signup-link">Sign up</a>
    </div>
  </div>
</header>

*/

#global-nav {
  background: white;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
  padding: 0.5em 0;
  position: relative;
  z-index: 100; //so we can see the drop shadow

  #logo {
    padding-right: $base-font-size;
    img { display: inline-block; vertical-align: middle; }
  }

  #global-nav-links {
    float: left;
    .button { padding: $base-font-size/2 $base-font-size; }
  }

  #global-nav-account {float: right;}
}
