.neat-last-column {
  margin-right: 0 !important;
}

.neat-first-column {
  clear: left;
}

.lt-ie9 {
  //otherwise dots in the password are not displayes properly
  input {
    font-family: Arial;
  }

  .cp-logo {
    margin-right: 0 !important;

    img {
      width: 197px;
      height: 31px;
    }
  }

  .facebook, .twitter {
    .ss-icon {
      display: none;
    }
  }

  .global-nav {
    .group-logo {
      img {
        height: 31px;
        width: 197px;
      }
    }
  }

  .session-page {
    #session-wrapper {
      .accounts-form {
        .field {
          label {
            display: inline;
          }
        }
      }
    }
  }
}
