.notification {
  margin-bottom: 1em;
}

.notification, .absolute_flash {
  .alert, .notice, .success {
    padding: 0.7em;

    p {
      font-size: 1em;
      color: white;
      margin: 0;
    }

    a {
      text-decoration: underline;
      color: $warning;

      &:hover, &:focus {
        @include fade;
        color: lighten($warning, 20%);
      }
    }

    .session-page & {
      background: $warning;

      p {
        color: black;
        margin: 0;
      }
    }
  }

}

.alert { background: $error; }
.notice { background: $success; }
.success { background: $success; }

.absolute_flash {
  text-align: center;
}
