.notification {
  margin-bottom: 1em;

  .alert, .notice, .success {
    padding: 0.7em;

    p {
      font-size: 1em;
      color: white;
      margin: 0;
    }

    a {
      text-decoration: underline;
      color: $warning;

      &:hover, &:focus {
        @include fade;
        color: lighten($warning, 20%);
      }
    }

    .session-page #session-wrapper & {
      background: $warning;

      p {
        color: black;
        margin: 0;
      }
    }
  }

  .notice {
    a {
      color: $primary-color;

      &:hover, &:focus {
        color: lighten($primary-color, 20%);
      }
    }
  }

}

.alert { background: $error; }
.notice { background: $success; }
.success { background: $success; }

.absolute_flash {
  text-align: center;
  margin-bottom: 0;
}
