$page-header-color: $primary-color;
$dark-page-header-color: $footer-color;

/*

<div class="page-header">
  <div class="container">
    <h1>Page Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</P>
  </div>
</div>

*/


.page-header {
  background: $page-header-color;
  padding: 2em 0;

  h1 { color: #fff; }

  p {
    color: rgba(255, 255, 255, 0.6);
    font-size: $base-font-size * 1.375;
    line-height: $base-line-height;
    margin: 0 0 $base-font-size 0;
  }

  &.dark { background: $dark-page-header-color; }
}

