$page-header-color: $primary-color;
$dark-page-header-color: $footer-color;

/*

<div class="page-header">
  <div class="container">
    <h1>Page Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</P>
  </div>
</div>

*/


.page-header {
  background: $page-header-color;

  h1 { 
    color: #ffffff;
    margin-bottom: 0; 
  }

  p {
    color: rgba(255, 255, 255, 0.6);
    font-size: $base-font-size * 1.375; // 22px, same as H2
    line-height: $base-line-height * 0.92857143; // 1.3em, same as H2
    margin: ($base-font-size / 2.5) 0 $base-font-size 0;
    
    @include media($mobile) {
      font-size: $base-font-size * 1.25; // 20px
    }
  }

  &.dark { background: $dark-page-header-color; }
}

