.subnav {
  @include clearfix;
  margin: 0 0 1.75em 0;

  @include media($mobile) {
    margin: 0 0 1em 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      float: left;
      margin-right: 2.5em;

      @include media($mobile) {
        margin-right: 0;
        float: none;
      }

      a {
        @include h3;
        @include typekit-helper(normal, 400);
        color: $secondary-color;
        padding-bottom: 0.1em;

        &:hover { color: white; }

        &.current {
          color: white;
          border-bottom: 3px solid $secondary-color;

          @include media($mobile) {
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          }
        }

        @include media($mobile) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
          text-align: center;
          display: block;
          width: 100%;
          padding: 0.5em;
        }

      }
    }
  }
}
