$include-html-tab-nav-classes: $include-html-classes !default

$tab-nav-spacing: emCalc(4) !default
$tab-nav-padding: emCalc(6 12) !default
$tab-nav-bg: darken(#fff, 5%) !default
$tab-nav-border-color: darken($tab-nav-bg, 10%) !default
$tab-nav-border-width: emCalc(1) !default

$tab-nav-active-bg: white !default
$tab-nav-active-border-color: $primary-color !default
$tab-nav-active-border-width: emCalc(3) !default
$tab-nav-active-color: $header-font-color !default

@mixin tab-nav
  margin: 0
  margin-bottom: 0
  border-bottom: none

  white-space: nowrap

  overflow: auto

  @media #{$small}
    box-shadow: none

  li, a
    display: inline-block

  li
    overflow: hidden
    list-style: none
    margin-left: $tab-nav-spacing / 2
    margin-right: $tab-nav-spacing / 2

    &.active a, a:hover, a:focus
      background: $tab-nav-active-bg
      color: $tab-nav-active-color

    &.active a
      border: none
      border-top: 3px solid $tab-nav-active-border-color
      margin-top: $tab-nav-active-border-width - $tab-nav-border-width

    a
      background: $tab-nav-bg
      border: $tab-nav-border-width solid $tab-nav-border-color
      border-bottom: 0
      padding: $tab-nav-padding

      &:active
        background: $tab-nav-bg
        outline: 0

@if $include-html-tab-nav-classes != false
  .tab-nav
    +tab-nav
