<ul class="right logged-out">
  <li class="divider hide-for-small"></li>

  <li><a href="#">Log in</a></li>
  <li class="divider"></li>

  <li><a href="#" id="signup-link">Sign up</a></li>
  <li class="divider"></li>
</ul>
