<span id="formerly-cp" class="tiny">
  <a href="http://blog.devpost.com/post/125253916364/challengepost-is-now-devpost">
    formerly
    <%= image_tag "reimagine2/ChallengePost-logo-RGB.svg", height: 15, width: 100, alt: "Devpost" %>
  </a>
</span>
