<div class="search-field-wrapper flex-row align-items-stretch mx-4">
  <span class="align-items-center">
    <i class="fas fa-search search-icon"></i>
  </span>

  <%= search_field_tag :search, nil, title: 'Search', placeholder: 'Search hackathons' %>

  <a href="#" class="align-items-center close-icon" <%= data_toggle_attr %>>
    <i class="fas fa-times"></i>
  </a>
</div>
