<div class="panel-section">
  <a class="panel-product panel-product-content" href="https://info.devpost.com/product/devpost-for-teams">
    <%= image_tag 'reimagine2/dft-logo-mobile.svg', alt: 'Devpost for Teams' %>
    <div>
      <p class="title bold">Devpost for Teams</p>
      <p class="subtitle">Drive innovation, collaboration, and retention within your org.</p>
    </div>
  </a>
</div>
