<% arrow_icon = '<i class="fa-arrow-right fas" aria-hidden="true" aria-label="Arrow icon"></i>'.html_safe %>

<div class="panel-section">
  <a class="panel-product panel-product-content" href="https://info.devpost.com/product/devpost-for-teams">
    <%= image_tag 'reimagine2/dft-logo-mobile.svg', alt: 'Devpost for Teams' %>
    <div>
      <p class="title bold">Devpost for Teams</p>
      <p class="subtitle">Access your company's private hackathons</p>
    </div>
  </a>
  <div class="panel-content with-icon-offset">
    <a href="https://devpost.team">
      Login <%= arrow_icon %>
    </a>
  </div>
</div>
