<% arrow_icon = '<i class="fa-arrow-right fas" aria-hidden="true"></i>'.html_safe %>

<li class="has-dropdown">
  <%= link_to '#', class: 'main-link' do %>
    Join a hackathon <i class="fa-angle-down fas" aria-hidden="true"></i>
  <% end %>

  <ul class="dropdown float-left main-menu-dropdown" id="join-a-hackathon-dropdown">
    <li class="floating-menu-wrapper">
      <div class="floating-menu display-flex align-stretch">
        <div class="panel-container bordered">
          <%= render "reimagine2/devpost/global_nav/join_a_hackathon_devpost_section" %>
        </div>

        <div class="panel-container bordered">
          <%= render "reimagine2/devpost/global_nav/join_a_hackathon_dft_section" %>
        </div>
      </div>
    </li>
  </ul>
</li>
