<% arrow_icon = '<i class="fa-arrow-right fas" data-v-082e107e="" aria-hidden="true"></i>'.html_safe %>

<li class="has-dropdown">
  <%= link_to 'Resources', '#', class: 'main-link' %>

  <ul class="dropdown float-left main-menu-dropdown" id="resources-dropdown">
    <li class="floating-menu-wrapper">
      <div class="floating-menu">
        <%= render "reimagine2/devpost/global_nav/resources_section" %>
      </div>
    </li>
  </ul>
</li>
