<li>
  <%= link_to reimagine_root_url(path: "/jobs"),
        class: "main-link",
        data: { role: "jobs" } do %>
    Jobs
  <% end %>
</li>

<li>
  <%= link_to reimagine_root_url(path: "/thecommit"),
        class: "main-link",
        data: { role: "thecommit" } do %>
    The Commit <span class="fa fa-youtube-play youtube-icon"></span>
  <% end %>
</li>

<li>
  <%= link_to reimagine_root_url(path: "/hackathons"),
        class: "main-link",
        data: { role: "discover" } do %>
    Hackathons
  <% end %>
</li>
