<li class="divider"></li>

<%= render 'reimagine2/devpost/global_nav/join_a_hackathon_nav_entry' %>

<li class="divider"></li>

<%= render 'reimagine2/devpost/global_nav/host_a_hackathon_nav_entry' %>

<li class="divider"></li>

<%= render 'reimagine2/devpost/global_nav/resources_nav_entry' %>
