<li class="divider"></li>
<li>
  <%= link_to reimagine_root_url(path: '/hackathons'), class: 'main-link', data: { role: 'discover' } do %>
    Hackathons
  <% end %>
</li>
<li class="divider"></li>
<li>
  <%= link_to reimagine_root_url(path: '/software'), class: 'main-link', data: { role: 'projects' } do %>
    Projects
  <% end %>
</li>
<li class="divider"></li>
<li>
  <%= link_to 'Blog', 'https://info.devpost.com/blog', class: 'main-link' %>
</li>
