<ul class="left">
  <%= render "reimagine2/devpost/global_nav/world_menu_entries" %>
  <li>
    <%= form_tag("https://devpost.dev/hackathons", class: "hide-for-small search-bar-form", id: "", data: { search_form: :base }, method: :get) do %>
      <div>
        <%= search_field_tag :search,
                             nil,
                             id: "challenge-search",
                             title: "Search",
                             placeholder: "Search hackathons",
                             data: { search_form: :query }
        %>
        <%= content_tag :button, type: :submit, class: "button postfix" do %>
          <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
  </li>
</ul>
