<li class="divider"></li>
<li>
  <%= link_to '#', class: 'main-link', onmouseover: 'showFloatingMenu()', onmouseout: 'hideFloatingMenu()' do %>
    Product
    <i class='fas fa-angle-down'></i>
  <% end %>
</li>
<li>
  <%= link_to reimagine_root_url(path: "/hackathons"),
        class: "main-link",
        data: { role: "discover" } do %>
    Hackathons
  <% end %>
</li>
<li class="divider"></li>
<li>
  <%= link_to reimagine_root_url(path: "/software"),
        class: "main-link",
        data: { role: "projects" } do %>
    Projects
  <% end %>
</li>
<li>
  <%= link_to '#', class: 'main-link' do %>
    Blog
  <% end %>
</li>
