<ul class="left">
  <li>
    <%= link_to reimagine_root_url(path: "/software"), class: "main-link" do %>
      Projects
    <% end %>
  </li>

  <li>
    <%= link_to reimagine_root_url(path: "/hackathons"),
        class: "main-link" do %>
      Hackathons
    <% end %>
  </li>
</ul>
