<ul class="left">
  <%= render "reimagine2/devpost/global_nav/world_menu_entries" %>
  <li class="hide-for-small">
    <%= form_tag("https://devpost.dev/hackathons", class: "search-bar-form large", data: { search_form: :base }, method: :get) do %>
      <div>
        <%= render "reimagine2/devpost/global_nav/hackathon_search_fields" %>
      </div>
    <% end %>
  </li>
</ul>
