<div>
  <a data-accordion-tab href="#join-a-hackathon">
    Join a hackathon
  </a>
  <div class="accordion-section" data-accordion-section="join-a-hackathon">
    <p>kiou1</p>
  </div>

  <a data-accordion-tab href="#join-a-hackathon">
    Host a hackathon
  </a>
  <div class="accordion-section" data-accordion-section="join-a-hackathon">
    <p>kiou1</p>
  </div>
</div>
