// Tab-nav

// $include-html-tab-nav-classes: $include-html-classes

// Inactive tabs

// $tab-nav-spacing: emCalc(8)
// $tab-nav-padding: emCalc(0 8)
// $tab-nav-bg: darken(#fff, 5%)
// $tab-nav-border-color: darken($tab-nav-bg, 10%)
// $tab-nav-border-width: emCalc(1)

// Active tabs

// $tab-nav-active-bg: white
// $tab-nav-active-border-color: $primary-color
// $tab-nav-active-border-width: emCacl(3)
// $tab-nav-active-color: $header-font-color

// It may make sense to need it to align with the .row when
// inside a .columns.

// $tab-nav-extra-negative-spacing: 0

// Simple form

$form-input-margin-bottom: emCalc(24)

// Code

$pre-background-color: $light-grey-background
$pre-margin-bottom: 1.25em
$pre-padding: 1.25em
