// Define your colors here
$dark: #003e54

$primary-1: #1F78D1 // Primary
$primary-2: #207180
$primary-3: #268899
$primary-4: #1472A8 // Dark Primary
$primary-5: #BEE4F9 // Light Primary
$primary-6: #55dbf2

$secondary-1 : #23A196 // Secondary
$secondary-2 : #547a28
$secondary-3 : #669431
$secondary-4 : #1A756E // Dark Secondary
$secondary-5 : #B7F2EE // Light Secondary

$red-1: #DF3535
$red-2: #801c26

$error-1: $red-1
$error-2: $red-2
$error-3: #ffcfd3
$error-color: $error-1

$gold: #F3BF1E
$light-gold: #fff1d6
$dark-gold: darken($gold, 20%)

$highlight-1: $gold
$highlight-2: $light-gold
$highlight-color: $highlight-1

// Fifty shades of grey
$grey-1: #F5F7F7 // for light grey backgrounds
$grey-2: #EDF1F2 // for input borders, dividers
$grey-3: #B7C3C7 // for text on dark backgrounds and icons
$grey-4: #9CAEB2 // for light body font
$grey-5: #50676D // for body font
$grey-6: #192325 // for header font and dark backgrounds

$greys: $grey-1 $grey-2 $grey-3 $grey-4 $grey-5 $grey-6

// Greys with a slight blue hue
$blue-grey-0: #F5F8FB
$blue-grey-1: #E0E9EC
$blue-grey-2: #DCE6E9
$blue-grey-3: #A4B8BF
$blue-grey-4: #748F99
$blue-grey-5: #5A757F
$blue-grey-6: #475D65

// TODO: replace these legacy colors platform-wide with the ones above
$light-grey-background: $grey-1
$challengepost-grey-on-dark-background: $grey-3
$challengepost-dark-grey-background: $grey-6

$page-background: $grey-2
