<ul class="left">
  <li class="divider"></li>

  <li>
    <%= link_to reimagine_root_url(path: "/software"), class: "main-link", data: { role: "explore" } do %>
      <strong>Explore</strong> software projects
    <% end %>
  </li>
  <li class="divider"></li>

  <li>
    <%= link_to reimagine_root_url(path: "/discover"), class: "main-link", data: { role: "discover" } do %>
      <strong>Participate</strong> in hackathons &amp; online challenges
    <% end %>
  </li>
  <li class="divider"></li>

  <li>
    <%= link_to reimagine_post_url, class: "main-link", data: { role: "post-challenge" } do %>
      <strong>Post</strong> a new challenge
    <% end %>
  </li>
  <li class="divider"></li>
</ul>

